/* Variables CSS */

:root {
    --color-primario: #2c3e50;
    --color-secundario: #3498db;
    /* ... más variables ... */
}

/* Estilos globales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #34495e;
}